<div class="main">
  <div class="title">
    <span>FACTORY STATUS</span>
  </div>

  <div class="status">
    <div class="factory">
      <div class="box">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            widht="100"
            height="100"
            viewBox="0 0 576 512"
          >
            <path
              d="M64 32C46.3 32 32 46.3 32 64V304v48 80c0 26.5 21.5 48 48 48H496c26.5 0 48-21.5 48-48V304 152.2c0-18.2-19.4-29.7-35.4-21.1L352 215.4V152.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4V64c0-17.7-14.3-32-32-32H64z"
            />
          </svg>
        </span>
      </div>
      <div class="box">
        <p>Material collection</p>
        <p>(GreenHarvest SPA)</p>
        <i
          class="pi pi-spin pi-cog"
          style="font-size: 2rem; color: #6b7280"
        ></i>
      </div>
    </div>

    <div class="connection">
      <i
        class="pi pi-arrow-right-arrow-left"
        style="font-size: 4rem; color: green"
      ></i>
    </div>

    <div class="factory">
      <div class="box">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            widht="100"
            height="100"
            viewBox="0 0 576 512"
          >
            <path
              d="M64 32C46.3 32 32 46.3 32 64V304v48 80c0 26.5 21.5 48 48 48H496c26.5 0 48-21.5 48-48V304 152.2c0-18.2-19.4-29.7-35.4-21.1L352 215.4V152.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4V64c0-17.7-14.3-32-32-32H64z"
            />
          </svg>
        </span>
      </div>
      <div class="box">
        <p>Product Processing</p>
        <p>(Food Company SPA)</p>
        <i
          class="pi pi-spin pi-cog"
          style="font-size: 2rem; color: #6b7280"
        ></i>
      </div>
    </div>

    <div class="connection">
      <i
        class="pi pi-arrow-right-arrow-left"
        style="font-size: 4rem; color: green"
      ></i>
    </div>

    <div class="factory">
      <div class="box">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            widht="100"
            height="100"
            viewBox="0 0 576 512"
          >
            <path
              d="M64 32C46.3 32 32 46.3 32 64V304v48 80c0 26.5 21.5 48 48 48H496c26.5 0 48-21.5 48-48V304 152.2c0-18.2-19.4-29.7-35.4-21.1L352 215.4V152.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4V64c0-17.7-14.3-32-32-32H64z"
            />
          </svg>
        </span>
      </div>
      <div class="box">
        <p>Packaging and Storage</p>
        <p>(Box Enterprises SRL)</p>
        <i
          class="pi pi-spin pi-cog"
          style="font-size: 2rem; color: #6b7280"
        ></i>
      </div>
    </div>
  </div>
</div>
