<div class="card">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            image="../../../../assets/img/factory1.jpg"
            shape="circle"
          />
          <span class="font-bold white-space-nowrap m-0">
            GreenHarvest SPA
          </span>
        </div>
      </ng-template>
      <app-factory [factory]="factory1"></app-factory>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            image="../../../../assets/img/factory2.jpg"
            shape="circle"
          />
          <span class="font-bold white-space-nowrap m-0">
            Food Company SPA
          </span>
        </div>
      </ng-template>
      <app-factory [factory]="factory2"></app-factory>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <p-avatar
            image="../../../../assets/img/factory3.jpg"
            shape="circle"
          />
          <span class="font-bold white-space-nowrap m-0">
            Box Enterprises SRL
          </span>
        </div>
      </ng-template>
      <app-factory [factory]="factory3"></app-factory>
    </p-tabPanel>
  </p-tabView>
</div>
